{% extends "./base.html.twig" %}
{#{% form_theme form 'components/file_upload_template.html.twig' %}#}

{% block body %}
    <div class="w-4/5 m-auto pt-40">
        <h1 class="text-6xl text-center pb-12">
            Create Movie
        </h1>

        {% include 'movies/_form.html.twig' %}



{#        {{ form_end(form) }}#}
    </div>
{% endblock %}