{% extends "base.html.twig" %}

{% block body %}
   <h1 class="bg-blue-100 text-2xl text-center font-bold">Hejka</h1>

   <img src="{{ asset('build/images/natura.444c042f.jpg') }}" alt="">
{%  endblock %}