<div class=" text-gray-600 ">
    <input class="border-2 border-gray-200 bg-white h-10 px-5 pr-8 rounded text-sm focus:outline-none float-right mr-20"
           type="search" name="search" placeholder="Wyszukaj">
    <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
    </button>
</div>